.bimg1_1 {
    background: url(../catalog/bmw1_1.jpg) no-repeat;
}

.bimg1_2 {
    background: url(../catalog/bmw1_2.jpg) no-repeat;
}

.bimg1_3 {
    background: url(../catalog/bmw1_3.jpg) no-repeat;
}

.bimg1_4 {
    background: url(../catalog/bmw1_4.jpg) no-repeat;
}

.bimg2_1 {
    background: url(../catalog/bmw2_1.jpg) no-repeat;
}

.bimg2_2 {
    background: url(../catalog/bmw2_2.jpg) no-repeat;
}

.bimg2_3 {
    background: url(../catalog/bmw2_3.jpg) no-repeat;
}

.bimg2_4 {
    background: url(../catalog/bmw2_4.jpg) no-repeat;
}

.bimg3_1 {
    background: url(../catalog/bmw3_1.jpg) no-repeat;
}

.bimg3_2 {
    background: url(../catalog/bmw3_2.jpg) no-repeat;
}

.bimg3_3 {
    background: url(../catalog/bmw3_3.jpg) no-repeat;
}

.bimg3_4 {
    background: url(../catalog/bmw3_4.jpg) no-repeat;
}

.bimg4_1 {
    background: url(../catalog/bmw4_1.jpg) no-repeat;
}

.bimg4_2 {
    background: url(../catalog/bmw4_2.jpg) no-repeat;
}

.bimg4_3 {
    background: url(../catalog/bmw4_3.jpg) no-repeat;
}

.bimg4_4 {
    background: url(../catalog/bmw4_4.jpg) no-repeat;
}

.bimg5_1 {
    background: url(../catalog/bmw5_1.jpg) no-repeat;
}

.bimg5_2 {
    background: url(../catalog/bmw5_2.jpg) no-repeat;
}

.bimg5_3 {
    background: url(../catalog/bmw5_3.jpg) no-repeat;
}

.bimg5_4 {
    background: url(../catalog/bmw5_4.jpg) no-repeat;
}

.bimg6_1 {
    background: url(../catalog/bmw6_1.jpg) no-repeat;
}

.bimg6_2 {
    background: url(../catalog/bmw6_2.jpg) no-repeat;
}

.bimg6_3 {
    background: url(../catalog/bmw6_3.jpg) no-repeat;
}

.bimg6_4 {
    background: url(../catalog/bmw6_4.jpg) no-repeat;
}
.limg1_1 {
    background: url(../catalog/land1_1.jpg) no-repeat;
}

.limg1_2 {
    background: url(../catalog/land1_2.jpg) no-repeat;
}

.limg1_3 {
    background: url(../catalog/land1_3.jpg) no-repeat;
}

.limg1_4 {
    background: url(../catalog/land1_4.jpg) no-repeat;
}

.limg2_1 {
    background: url(../catalog/land2_1.jpg) no-repeat;
}

.limg2_2 {
    background: url(../catalog/land2_2.jpg) no-repeat;
}

.limg2_3 {
    background: url(../catalog/land2_3.jpg) no-repeat;
}

.limg2_4 {
    background: url(../catalog/land2_4.jpg) no-repeat;
}

.limg3_1 {
    background: url(../catalog/land3_1.jpg) no-repeat;
}

.limg3_2 {
    background: url(../catalog/land3_2.jpg) no-repeat;
}

.limg3_3 {
    background: url(../catalog/land3_3.jpg) no-repeat;
}

.limg3_4 {
    background: url(../catalog/land3_4.jpg) no-repeat;
}

.limg4_1 {
    background: url(../catalog/land4_1.jpg) no-repeat;
}

.limg4_2 {
    background: url(../catalog/land4_2.jpg) no-repeat;
}

.limg4_3 {
    background: url(../catalog/land4_3.jpg) no-repeat;
}

.limg4_4 {
    background: url(../catalog/land4_4.jpg) no-repeat;
}

.limg5_1 {
    background: url(../catalog/land5_1.jpg) no-repeat;
}

.limg5_2 {
    background: url(../catalog/land5_2.jpg) no-repeat;
}

.limg5_3 {
    background: url(../catalog/land5_3.jpg) no-repeat;
}

.limg5_4 {
    background: url(../catalog/land5_4.jpg) no-repeat;
}

.limg6_1 {
    background: url(../catalog/land6_1.jpg) no-repeat;
}

.limg6_2 {
    background: url(../catalog/land6_2.jpg) no-repeat;
}

.limg6_3 {
    background: url(../catalog/land6_3.jpg) no-repeat;
}

.limg6_4 {
    background: url(../catalog/land6_4.jpg) no-repeat;
}
.cimg1_1 {
    background: url(../images/che1_1.jpg) no-repeat;
}

.cimg1_2 {
    background: url(../images/che1_2.jpg) no-repeat;
}

.cimg1_3 {
    background: url(../images/che1_3.jpg) no-repeat;
}

.cimg1_4 {
    background: url(../images/che1_4.jpg) no-repeat;
}

.cimg2_1 {
    background: url(../images/che2_1.jpg) no-repeat;
}

.cimg2_2 {
    background: url(../images/che2_2.jpg) no-repeat;
}

.cimg2_3 {
    background: url(../images/che2_3.jpg) no-repeat;
}

.cimg2_4 {
    background: url(../images/che2_4.jpg) no-repeat;
}

.cimg3_1 {
    background: url(../images/che3_1.jpg) no-repeat;
}

.cimg3_2 {
    background: url(../images/che3_2.jpg) no-repeat;
}

.cimg3_3 {
    background: url(../images/che3_3.jpg) no-repeat;
}

.cimg3_4 {
    background: url(../images/che3_4.jpg) no-repeat;
}

.cimg4_1 {
    background: url(../images/che4_1.jpg) no-repeat;
}

.cimg4_2 {
    background: url(../images/che4_2.jpg) no-repeat;
}

.cimg4_3 {
    background: url(../images/che4_3.jpg) no-repeat;
}

.cimg4_4 {
    background: url(../images/che4_4.jpg) no-repeat;
}

.cimg5_1 {
    background: url(../images/che5_1.jpg) no-repeat;
}

.cimg5_2 {
    background: url(../images/che5_2.jpg) no-repeat;
}

.cimg5_3 {
    background: url(../images/che5_3.jpg) no-repeat;
}

.cimg5_4 {
    background: url(../images/che5_4.jpg) no-repeat;
}

.cimg6_1 {
    background: url(../images/che6_1.jpg) no-repeat;
}

.cimg6_2 {
    background: url(../images/che6_2.jpg) no-repeat;
}

.cimg6_3 {
    background: url(../images/che6_3.jpg) no-repeat;
}

.cimg6_4 {
    background: url(../images/che6_4.jpg) no-repeat;
}
.fimg1_1 {
    background: url(../images/for1_1.jpg) no-repeat;
}

.fimg1_2 {
    background: url(../images/for1_2.jpg) no-repeat;
}

.fimg1_3 {
    background: url(../images/for1_3.jpg) no-repeat;
}

.fimg1_4 {
    background: url(../images/for1_4.jpg) no-repeat;
}

.fimg2_1 {
    background: url(../images/for2_1.jpg) no-repeat;
}

.fimg2_2 {
    background: url(../images/for2_2.jpg) no-repeat;
}

.fimg2_3 {
    background: url(../images/for2_3.jpg) no-repeat;
}

.fimg2_4 {
    background: url(../images/for2_4.jpg) no-repeat;
}

.fimg3_1 {
    background: url(../images/for3_1.jpg) no-repeat;
}

.fimg3_2 {
    background: url(../images/for3_2.jpg) no-repeat;
}

.fimg3_3 {
    background: url(../images/for3_3.jpg) no-repeat;
}

.fimg3_4 {
    background: url(../images/for3_4.jpg) no-repeat;
}

.fimg4_1 {
    background: url(../images/for4_1.jpg) no-repeat;
}

.fimg4_2 {
    background: url(../images/for4_2.jpg) no-repeat;
}

.fimg4_3 {
    background: url(../images/for4_3.jpg) no-repeat;
}

.fimg4_4 {
    background: url(../images/for4_4.jpg) no-repeat;
}

.fimg5_1 {
    background: url(../images/for5_1.jpg) no-repeat;
}

.fimg5_2 {
    background: url(../images/for5_2.jpg) no-repeat;
}

.fimg5_3 {
    background: url(../images/for5_3.jpg) no-repeat;
}

.fimg5_4 {
    background: url(../images/for5_4.jpg) no-repeat;
}

.fimg6_1 {
    background: url(../images/for6_1.jpg) no-repeat;
}

.fimg6_2 {
    background: url(../images/for6_2.jpg) no-repeat;
}

.fimg6_3 {
    background: url(../images/for6_3.jpg) no-repeat;
}

.fimg6_4 {
    background: url(../images/for6_4.jpg) no-repeat;
}
.mimg1_1 {
    background: url(../images/mer1_1.jpg) no-repeat;
}

.mimg1_2 {
    background: url(../images/mer1_2.jpg) no-repeat;
}

.mimg1_3 {
    background: url(../images/mer1_3.jpg) no-repeat;
}

.mimg1_4 {
    background: url(../images/mer1_4.jpg) no-repeat;
}

.mimg2_1 {
    background: url(../images/mer2_1.jpg) no-repeat;
}

.mimg2_2 {
    background: url(../images/mer2_2.jpg) no-repeat;
}

.mimg2_3 {
    background: url(../images/mer2_3.jpg) no-repeat;
}

.mimg2_4 {
    background: url(../images/mer2_4.jpg) no-repeat;
}

.mimg3_1 {
    background: url(../images/mer3_1.jpg) no-repeat;
}

.mimg3_2 {
    background: url(../images/mer3_2.jpg) no-repeat;
}

.mimg3_3 {
    background: url(../images/mer3_3.jpg) no-repeat;
}

.mimg3_4 {
    background: url(../images/mer3_4.jpg) no-repeat;
}

.mimg4_1 {
    background: url(../images/mer4_1.jpg) no-repeat;
}

.mimg4_2 {
    background: url(../images/mer4_2.jpg) no-repeat;
}

.mimg4_3 {
    background: url(../images/mer4_3.jpg) no-repeat;
}

.mimg4_4 {
    background: url(../images/mer4_4.jpg) no-repeat;
}

.mimg5_1 {
    background: url(../images/mer5_1.jpg) no-repeat;
}

.mimg5_2 {
    background: url(../images/mer5_2.jpg) no-repeat;
}

.mimg5_3 {
    background: url(../images/mer5_3.jpg) no-repeat;
}

.mimg5_4 {
    background: url(../images/mer5_4.jpg) no-repeat;
}

.mimg6_1 {
    background: url(../images/mer6_1.jpg) no-repeat;
}

.mimg6_2 {
    background: url(../images/mer6_2.jpg) no-repeat;
}

.mimg6_3 {
    background: url(../images/mer6_3.jpg) no-repeat;
}

.mimg6_4 {
    background: url(../images/mer6_4.jpg) no-repeat;
}
.paying{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.container{
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
}

.container h1{
    text-align: center;
}

.cards img{
    width: 100px;
}

.first-row{
    display: flex;
}

.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}